body {
  background-color: #fff6f1;
}

.hero {
  margin: 0 auto;
  margin-top: 30px;
  padding: 30px;
  background-color: white;
  border-radius: 7px;
  width: 900px;
  height: 480px;
}

.content {
  position: relative;
  top: 120px;
}

h1 {
  font-family: "Rozha One", serif;
  color: #fbc4ab;
  font-size: 29px;
}
h2 {
  font-family: "Aclonica", sans-serif;
  color: #f4978e;
  font-size: 70px;
}
h3 {
  font-family: "Sanchez", serif;
  color: #f8ad9d;
  font-size: 30px;
}
