:root {
  --bold-color: #f4978e;
  --medium-color: #f8ad9d;
  --light-color: #fbc4ab;
  --background-color: #fff6f1;
  --button-color: #b8eeda;
}

body {
  background-color: var(--background-color);
}

.ind-white-board {
  margin: 0 auto;
  margin-top: 30px;
  padding: 30px;
  background-color: white;
  border-radius: 7px;
  width: 900px;
  height: 480px;
}

.ind-content {
  position: relative;
  top: 120px;
}

.ind-h1 {
  font-family: "Rozha One", serif;
  color: var(--light-color);
  font-size: 29px;
}
.ind-h2 {
  font-family: "Aclonica", sans-serif;
  color: var(--bold-color);
  font-size: 70px;
}
.ind-h3 {
  font-family: "Sanchez", serif;
  color: var(--medium-color);
  font-size: 30px;
}

#get-in-touch {
  position: relative;
  top: 60px;
  text-decoration: none;
  font-weight: bolder;
  font-size: 20px;
  color: white;
  background-color: var(--button-color);
  border-radius: 4px;
  padding: 15px 44px;
}

span {
  color: var(--medium-color);
  margin-left: 7px;
}

.pro-white-board {
  margin: 0 auto;
  margin: 30px;
  padding: 30px;
  background-color: white;
  border-radius: 7px;
}

.pro-h1 {
  font-family: "Rozha One", serif;
  color: var(--light-color);
  font-size: 50px;
  text-align: center;
  margin-bottom: 30px;
}

.pro-content {
  margin: 0 auto;
}

img {
  border: 2px dotted var(--bold-color);
  margin: 0 auto;
}
.pro-h2 {
  font-family: "Sanchez", serif;
  font-size: 30px;
  color: var(--bold-color);
  font-weight: 900;
}

p {
  text-align: center;
  color: var(--medium-color);
}

button {
  background-color: var(--button-color);
  font-weight: bolder;
  font-size: 20px;
  color: white;
  border: 1px solid white;
  border-radius: 7px;
  padding: 10px 30px;
}
